extends ../template_page.pug

block header
  include ../parts/_header.pug
  +header(linksPages, "./", "type_coffee")

block content
  include ../parts/_card_item.pug
  +card_type_item("Jacobs", "100", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "types_food/type_coffee/img_jacobs.jpg")
  +card_type_item("Nescafe", "110", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "types_food/type_coffee/img_nescafe.jpg")
  +card_type_item("Jacobs", "100", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "types_food/type_coffee/img_jacobs.jpg")
  +card_type_item("Nescafe", "110", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "types_food/type_coffee/img_nescafe.jpg")
  +card_type_item("Jacobs", "100", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "types_food/type_coffee/img_jacobs.jpg")
  +card_type_item("Nescafe", "110", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "types_food/type_coffee/img_nescafe.jpg")
  +card_type_item("Jacobs", "100", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "types_food/type_coffee/img_jacobs.jpg")
  +card_type_item("Nescafe", "110", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "types_food/type_coffee/img_nescafe.jpg")
  +card_type_item("Jacobs", "100", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "types_food/type_coffee/img_jacobs.jpg")
  +card_type_item("Nescafe", "110", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "types_food/type_coffee/img_nescafe.jpg")
  +card_type_item("Jacobs", "100", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "types_food/type_coffee/img_jacobs.jpg")
  +card_type_item("Nescafe", "110", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "types_food/type_coffee/img_nescafe.jpg")
