extends ./type_template.pug

block header
  include ../parts/_header.pug
  +header(linksPages, "./", "type_carton_cup")

block content
  include ../parts/_card_item.pug
  +card_type_item("Склянки пластикові", "5", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_carton_cup/img_plast_cup.png")
  +card_type_item("Склянки бамбукові", "10", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_carton_cup/img_bambuk_cup.jpg")
  +card_type_item("Склянки пластикові", "10", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_carton_cup/img_plast_cup.png")
  +card_type_item("Склянки бамбукові", "25", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_carton_cup/img_bambuk_cup.jpg")
  +card_type_item("Склянки пластикові", "15", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_carton_cup/img_plast_cup.png")
  +card_type_item("Склянки бамбукові", "11", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_carton_cup/img_bambuk_cup.jpg")
  +card_type_item("Склянки пластикові", "8", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_carton_cup/img_plast_cup.png")
  +card_type_item("Склянки бамбукові", "90", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_carton_cup/img_bambuk_cup.jpg")
  +card_type_item("Склянки пластикові", "30", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_carton_cup/img_plast_cup.png")
  +card_type_item("Склянки бамбукові", "56", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_carton_cup/img_bambuk_cup.jpg")
  +card_type_item("Склянки пластикові", "5", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_carton_cup/img_plast_cup.png")
  +card_type_item("Склянки бамбукові", "45", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_carton_cup/img_bambuk_cup.jpg")
