extends ../template_second_page.pug

block header
  include ../parts/_header.pug
  +header(linksPages, "./", "types_food/type_tea")

block content
  .row.g-5
    include ../parts/_card_item.pug
    +card_type_item("Jacobs", "200", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "types_food/type_tea/img_green.png")
    +card_type_item("Jacobs", "120", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "types_food/type_tea/img_pekoe.png")
    +card_type_item("Jacobs", "520", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "types_food/type_tea/img_green.png")
    +card_type_item("Jacobs", "50", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "types_food/type_tea/img_pekoe.png")
    +card_type_item("Jacobs", "60", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "types_food/type_tea/img_green.png")
    +card_type_item("Jacobs", "80", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "types_food/type_tea/img_pekoe.png")
    +card_type_item("Jacobs", "150", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "types_food/type_tea/img_green.png")
    +card_type_item("Jacobs", "160", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "types_food/type_tea/img_pekoe.png")
    +card_type_item("Jacobs", "125", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "types_food/type_tea/img_green.png")