extends ./type_template.pug

block header
  include ../parts/_header.pug
  +header(linksPages, "./", "type_tools")

block content
  include ../parts/_card_item.pug
  +card_type_item("Jacobs", "50", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_tools/img_get_cup.jpg")
  +card_type_item("Nescafe", "110", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_tools/img_iron_cup.jpg")
  +card_type_item("Jacobs", "120", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_tools/img_get_cup.jpg")
  +card_type_item("Nescafe", "255", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_tools/img_iron_cup.jpg")
  +card_type_item("Jacobs", "125", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_tools/img_get_cup.jpg")
  +card_type_item("Nescafe", "110", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_tools/img_iron_cup.jpg")
  +card_type_item("Jacobs", "80", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_tools/img_get_cup.jpg")
  +card_type_item("Nescafe", "90", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_tools/img_iron_cup.jpg")
  +card_type_item("Jacobs", "320", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_tools/img_get_cup.jpg")
  +card_type_item("Nescafe", "560", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_tools/img_iron_cup.jpg")
  +card_type_item("Jacobs", "20", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_tools/img_get_cup.jpg")
  +card_type_item("Nescafe", "450", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_tools/img_iron_cup.jpg")
