extends ../template_page.pug

block header
  include ../parts/_header.pug
  +header(linksPages, "./", "type_sweet")

block content
  include ../parts/_card_item.pug
  +card_type_item("Печиво Ромашка", "50", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_sweet/img_cookes_romashka.jpg")
  +card_type_item("Шоколадне печиво", "220", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_sweet/img_cookes_chocolate.jpg")
  +card_type_item("Печиво Ромашка", "50", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_sweet/img_cookes_romashka.jpg")
  +card_type_item("Шоколадне печиво", "220", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_sweet/img_cookes_chocolate.jpg")
  +card_type_item("Печиво Ромашка", "50", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_sweet/img_cookes_romashka.jpg")
  +card_type_item("Шоколадне печиво", "220", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_sweet/img_cookes_chocolate.jpg")
  +card_type_item("Печиво Ромашка", "50", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_sweet/img_cookes_romashka.jpg")
  +card_type_item("Шоколадне печиво", "220", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_sweet/img_cookes_chocolate.jpg")
  +card_type_item("Печиво Ромашка", "50", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_sweet/img_cookes_romashka.jpg")
  +card_type_item("Печиво Ромашка", "50", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_sweet/img_cookes_romashka.jpg")
  +card_type_item("Шоколадне печиво", "220", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_sweet/img_cookes_chocolate.jpg")
  +card_type_item("Печиво Ромашка", "50", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "type_sweet/img_cookes_romashka.jpg")
