extends ../template_second_page.pug

block header
  include ../parts/_header.pug
  //- - let linksPages = {main: "../../", delivery: "../"}
  +header(linksPages, "./", "pack_coffee")

block content
  .row.g-5
    include ../parts/_card_item.pug
    +card_type_item("Набір кофе 1", "110", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_coffee/img_pack_one.png")
    +card_type_item("Набір кофе 2", "220", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_coffee/img_pack_two.png")
    +card_type_item("Набір кофе 1", "110", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_coffee/img_pack_one.png")
    +card_type_item("Набір кофе 2", "220", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_coffee/img_pack_two.png")
    +card_type_item("Набір кофе 1", "110", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_coffee/img_pack_one.png")
    +card_type_item("Набір кофе 2", "220", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_coffee/img_pack_two.png")
    +card_type_item("Набір кофе 1", "110", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_coffee/img_pack_one.png")
    +card_type_item("Набір кофе 2", "220", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_coffee/img_pack_two.png")
    +card_type_item("Набір кофе 1", "110", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_coffee/img_pack_one.png")
    +card_type_item("Набір кофе 2", "220", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_coffee/img_pack_two.png")
    +card_type_item("Набір кофе 1", "110", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_coffee/img_pack_one.png")
    +card_type_item("Набір кофе 2", "220", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_coffee/img_pack_two.png")
