extends ../template_page.pug

block header
  include ../parts/_header.pug
  +header(linksPages, "./", "pack_tools")

block content
  include ../parts/_card_item.pug
  +card_type_item("Набір кофе 1", "110", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_tools/img_pack_tools_one.jpg")
  +card_type_item("Набір кофе 2", "220", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_tools/img_pack_tools_two.jpg")
  +card_type_item("Набір кофе 1", "110", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_tools/img_pack_tools_one.jpg")
  +card_type_item("Набір кофе 2", "220", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_tools/img_pack_tools_two.jpg")
  +card_type_item("Набір кофе 1", "110", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_tools/img_pack_tools_one.jpg")
  +card_type_item("Набір кофе 2", "220", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_tools/img_pack_tools_two.jpg")
  +card_type_item("Набір кофе 1", "110", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_tools/img_pack_tools_one.jpg")
  +card_type_item("Набір кофе 2", "220", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_tools/img_pack_tools_two.jpg")
  +card_type_item("Набір кофе 1", "110", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_tools/img_pack_tools_one.jpg")
  +card_type_item("Набір кофе 2", "220", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_tools/img_pack_tools_two.jpg")
  +card_type_item("Набір кофе 1", "110", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_tools/img_pack_tools_one.jpg")
  +card_type_item("Набір кофе 2", "220", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, eligendi!", "packs/pack_tools/img_pack_tools_two.jpg")
