mixin head(path)
  meta(name='description' content='litlenamewebsite')
  meta(name='keywords' content='onekeywords, twokeywords')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title CoffeIn
  link(rel="shortcut icon" href=`${path}img/icon.ico` type="image/x-icon")
  link(rel='stylesheet' href=`${path}css/index.min.css`)


//- css/index.min.css