<!DOCTYPE html>
html(lang='ua')
  head
    include ./pages/parts/_head.pug
    +head("./")
    
  body
    //- - let typeCoffee = "./pages/types_food/type_coffee.html"
    //- - let typeTea = "./pages/types_food/type_tea.html" 
    //- - let typeSyrup = "./pages/types_food/type_syrup.html"
    //- - let typeSweet = "./pages/types_food/type_sweet.html"
    //- - let typeTools = "./pages/types_food/type_tools.html"
    //- - let typeCartonCup = "./pages/types_food/type_carton_cup.html"
    
    - let linksPages = {main: "./", delivery: "./pages/" }

    include ./pages/parts/_header.pug
    +header(linksPages, "./pages/types_food/", "index")

    main
      section
        #carouselExampleIndicators.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
            li(data-target='#carouselExampleIndicators' data-slide-to='1')
            li(data-target='#carouselExampleIndicators' data-slide-to='2')
          .carousel-inner
            .carousel-item.active
              img.img-fluid.d-block.w-100(src='img/img_slider_discount_one.png' alt='...')
            .carousel-item
              img.img-fluid.d-block.w-100(src='img/img_slider_discount_two.jpg' alt='...')
          a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.visually-hidden Previous
          a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.visually-hidden Next

      section.container.my-5
        .row.g-5
          mixin type_item(title, pathLink, pathImg, altImg)
            .col-xs-12.col-sm-6.col-lg-4
              .card
                a.card-link.text-decoration-none.text-dark(href=`./pages/types_food/${pathLink}`)
                  img.card-img-top.img__index(src=pathImg alt=`картинка ${title}`)
                  .card-body
                    h5.card-title.text-center #{title}
          +type_item("Кава", "type_coffee.html", "img/img_type_item_coffee.jpg", "")
          +type_item("Чай", "type_tea.html", "img/img_type_item_tea.jpg", "")
          +type_item("Сироп", "type_syrup.html", "img/img_type_item_syrup.jpg", "")
          +type_item("Солодке", "type_sweet.html", "img/img_type_item_sweet.jpg", "")
          +type_item("Інструменти кава-варіння", "type_tools.html", "img/img_type_item_tools.jpg", "")
          +type_item("Стаканчики і додаткові товари", "type_carton_cup.html", "img/img_type_item_carton_cup.jpg", "")

      section.my-5
        .container
          .card.bg-light.w-100(style='width: 18rem')
            article.card-body
              h5.card-title.text-uppercase.mb-3
                | гарантія якості кожного зерна
              img.float-left.mr-3(src='https://magistr-coffee.com.ua/wp-content/uploads/2019/09/kofe-1024x768-300x225.jpg' alt='')
              h5.card-title.text-uppercase.text-center
                | CoffeeIn - Кавова компанія
              p.card-text
                | COFFEEIN розпорядженні широким асортиментом кави та чаю, що дозволяє Вам підібрати для себе відповідний варіант за смаком і ароматом.
              p.card-text
                | Кава завжди вважалося найпопулярнішим напоєм у всьому світі. Як показує статистика, щороку в світі випивають близько 400 мільярдів чашок цього напою.
              p.card-text
                | Пробуджує аромат зернової кави для прекрасного дня.
              p.card-text
                | Ні що так не налаштовує на майбутній робочий день, як чашечка підбадьорливого зернової кави! Належить важлива зустріч або збираєтеся укласти угоду року? Запропонуйте своїм клієнтам і партнерам ароматний напій, і Ваш успіх гарантований.
              p.card-text
                | У нашому каталозі представлено високоякісну каву, який виготовлений з кращих зерен вищих сортів. Кожне зерно пройшло ретельну обробку і обсмажування за спеціальними рецептами для поліпшення смакових якостей і отримання насиченого аромату.
              p.card-text
                | Своїх покупців ми забезпечуємо усіма необхідними кавовими аксесуарами, а саме:
              ul
                li цукор в стіках;
                li різноманітні паперові стаканчики;
                li дерев'яні мішалки;
                li кришки на паперові склянки;
                li брендована порцелянова посуда;
                li сиропи і топпинги;
              p.card-text
                | А також, Ви можете придбати смачні чаї на будь-який смак:
              ul
                li зелений чай;
                li зелений ароматизований чай;
                li чорний чай;
                li чорний ароматизований чай;
                li композиційний чай;
                li трав'яні і фруктові чаї;
                li чай в пакетиках;
                li супутні товари до чаю.
    include ./pages/parts/_footer.pug
    +footer('./')

    include ./pages/parts/_scripts.pug
    +scripts('./')
    script(src=`./js/index.min.js`)
